<div class="container my-5">

  <div class="row">
    <div class="col-7">
      <h6>property on root (not nested)</h6>
    </div>
    <div class="col-7">
      <code class="small">
        model prop: {{json this.model.prop}}<br>
        changeset prop: {{json this.changeset.prop}}
      </code>
    </div>
    <div class="col-5">
      <BsForm @model={{this.changeset}} @onSubmit={{action "onSubmit"}} as |form|>
        <form.element @property="prop" as |el|>
          <code class="small">value in element: {{json el.value}}</code>
          <BsButtonGroup @value={{el.value}} class="w-100" @type="radio" @onChange={{action (changeset-set this.changeset "prop")}} as |bg|>
            <bg.button @type="primary" class="p-3" @value="1">
              one
            </bg.button>
            <bg.button @type="primary" class="p-3" @value="2">
              two
            </bg.button>
            <bg.button @type="primary" class="p-3" @value={{null}}>
              none
            </bg.button>
          </BsButtonGroup>
        </form.element>
      </BsForm>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      <h6>property on model.child (nested)</h6>
    </div>
    <div class="col-7">
      <code class="small">
        model child.prop: {{json this.model.child.prop}}<br>
        changeset child.prop: {{json (changeset-get this.changeset "child.prop")}}
      </code>
    </div>
    <div class="col-5">
      <BsForm @model={{this.changeset}} @onSubmit={{action "onSubmit"}} as |form|>
        <form.element @property="child.prop" as |el|>
          <code class="small">value in element: {{json el.value}}</code>
          <BsButtonGroup @value={{el.value}} class="w-100" @type="radio" @onChange={{action (changeset-set this.changeset "child.prop")}} as |bg|>
            <bg.button @type="primary" class="p-3" @value="1">
              one
            </bg.button>
            <bg.button @type="primary" class="p-3" @value="2">
              two
            </bg.button>
            <bg.button @type="primary" class="p-3" @value={{null}}>
              none
            </bg.button>
          </BsButtonGroup>
        </form.element>
      </BsForm>
    </div>
  </div>

  <code class="small">
    {{#each this.changeset.errors as |error|}}
      {{error.key}}: {{error.validation}}<br>
    {{/each}}
  </code>

  <div class="row py-5">
    <div class="col-10">
      <p>We create a changeset: `new Changeset({})`</p>
      <p>root values change fine</p>
      <p>nested properties do change in the changeset, but are not reflected in the control</p>
    </div>
  </div>
</div>
