<code class="small">
  changeset prop: {{json this.changeset.prop}}<br>
</code>

<button class="w-100" onClick={{action this.clicked 1}}>
  one
</button>
<button class="w-100" onClick={{action this.clicked 2}}>
  two
</button>

<hr>

<ClassicComponent @value={{this.changeset.prop2}}/>

<GlimmerComponent @value={{this.changeset.prop3}}/>

<GlimmerComponentWithModifier @value={{this.changeset.prop4}}/>
