<code class="small">
  changeset prop:
  {{json this.changeset.prop}}
  <br />
</code>
<button class="w-100" onClick={{action this.clicked 1}}>
  one
</button>
<button class="w-100" onClick={{action this.clicked 2}}>
  two
</button>
<hr />
<button {{on "click" (fn (changeset-set this.changeset "prop2") 1000)}}>
  Update ClassicComponent
</button>
<ClassicComponent @value={{changeset-get this.changeset "prop2"}} />
<br />
<button {{on "click" (fn (changeset-set this.changeset "prop3") 2000)}}>
  Update GlimmerComponent
</button>
<GlimmerComponent @value={{changeset-get this.changeset "prop3"}} />
<br />
<button {{on "click" (fn (changeset-set this.changeset "prop4") 3000)}}>
  Update GlimmerComponentWithModifier
</button>
<GlimmerComponentWithModifier @value={{changeset-get this.changeset "prop4"}} />